# ---------- Eureka (común) ----------
EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_BASE_PATH=/eureka
EUREKA_WAIT_TIMEOUT_MS=15000

# ---------- Rutas comunes ----------
PROTO_ROOT=../../protos
PROTOS_DIR=../../protos

# ---------- JWT ----------
JWT_SECRET=eOk1US6CvkCe3aET0Fck3amdLcR9a58mvHyNQqo+FXJhx+/a+dddddddddddddd
JWT_EXPIRES_IN=1h

# ---------- Gateway ----------
GATEWAY_APP_NAME=API-GATEWAY
GATEWAY_HTTP_PORT=8080
GRPC_CALL_TIMEOUT_MS=3000

# ---------- Defaults MS ----------
SERVICE_BIND_HOST=0.0.0.0
SERVICE_REGISTER_HOST=127.0.0.1

# ---------- Hello Service ----------
HELLO_APP_NAME=HELLO-SERVICE
HELLO_GRPC_PORT=50051

# ---------- Auth Service ----------
AUTH_APP_NAME=AUTH-SERVICE
AUTH_SERVICE_REGISTER_HOST=localhost
AUTH_GRPC_PORT=50052

# ---------- Auth database ----------
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5433
AUTH_DB_USER=postgres
AUTH_DB_PASS=root
AUTH_DB=auth
AUTH_DATABASE_URL=postgresql://postgres:root@localhost:5433/auth

# ---------- Email Service ----------
EMAIL_APP_NAME=EMAIL-SERVICE
EMAIL_SERVICE_REGISTER_HOST=localhost
EMAIL_GRPC_PORT=50053

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=josuegarcab2@gmail.com
SMTP_PASS=
FRONTEND_URL=http://localhost:5174

# ---------- Users Service ----------
USERS_APP_NAME=USERS-SERVICE
USERS_GRPC_PORT=50057

# ---------- Users database ----------
USERS_DB_HOST=localhost
USERS_DB_PORT=5434
USERS_DB_USER=postgres
USERS_DB_PASS=admin
USERS_DB_NAME=users
USERS_DATABASE_URL=postgresql://postgres:admin@localhost:5434/users

# ---------- Vehicles Service ----------
VEHICLES_APP_NAME=VEHICLES-SERVICE
VEHICLES_GRPC_PORT=50055

# ---------- Driver Service ----------
DRIVER_APP_NAME=DRIVER-SERVICE
DRIVER_HTTP_PORT=3100
DRIVER_GRPC_PORT=50062
DRIVER_NODE_ENV=development

# ---------- Driver database ----------
DRIVER_DB_HOST=localhost
DRIVER_DB_PORT=5436
DRIVER_DB_USER=postgres
DRIVER_DB_PASS=admin
DRIVER_DB_NAME=drivers
DRIVER_DATABASE_URL=postgresql://postgres:admin@driver-db:5436/drivers
DRIVER_DB_SYNCHRONIZE=false
DRIVER_DB_LOGGING=false
DRIVER_NODE_ENV=development

# ---------- RabbitMQ / Outbox Publisher ----------
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Exchange para todos los eventos de dominio
OUTBOX_EXCHANGE=service.events

# Bases de datos con tabla Outbox
OUTBOX_DBS=postgresql://postgres:admin@localhost:5434/users

# Configuración del publicador de Outbox
PUBLISH_BATCH=20
POLL_MS=500
OUTBOX_PUBLISHER_PORT=4100
