# ---------- Eureka (común) ----------
EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_BASE_PATH=/eureka
EUREKA_WAIT_TIMEOUT_MS=15000

# ---------- Rutas comunes ----------
PROTO_ROOT=../../protos

# ---------- JWT ----------
JWT_SECRET=eOk1US6CvkCe3aET0Fck3amdLcR9a58mvHyNQqo+FXJhx+/a+dddddddddddddd
JWT_EXPIRES_IN=1h

# ---------- Gateway ----------
GATEWAY_APP_NAME=API-GATEWAY
GATEWAY_HTTP_PORT=8080
GRPC_CALL_TIMEOUT_MS=3000

# ---------- Defaults MS (puedes dejar así para todos) ----------
SERVICE_BIND_HOST=0.0.0.0
SERVICE_REGISTER_HOST=127.0.0.1

# ---------- Hello Service ----------
HELLO_APP_NAME=HELLO-SERVICE
HELLO_GRPC_PORT=50051

# ---------- Auth Service ----------
AUTH_APP_NAME=AUTH-SERVICE
AUTH_GRPC_PORT=50052

# ---------- Users Service ----------
USERS_APP_NAME=USERS-SERVICE
USERS_GRPC_PORT=50057

# ---------- Database----------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=auth
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

# (cuando tengas otros servicios, define sus puertos/nombres)
# USERS_APP_NAME=USERS-SERVICE
# USERS_GRPC_PORT=50052
