# ---------- Eureka (común) ----------
EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_BASE_PATH=/eureka
EUREKA_WAIT_TIMEOUT_MS=15000

# ---------- Rutas comunes ----------
PROTO_ROOT=../../protos
PROTOS_DIR=../../protos

# ---------- JWT ----------
JWT_SECRET=eOk1US6CvkCe3aET0Fck3amdLcR9a58mvHyNQqo+FXJhx+/a+dddddddddddddd
JWT_EXPIRES_IN=1h

# ---------- Defaults  ----------
SERVICE_BIND_HOST=0.0.0.0
SERVICE_REGISTER_HOST=127.0.0.1

# ---------- Gateway ----------
GATEWAY_APP_NAME=API-GATEWAY
GATEWAY_HTTP_PORT=8080
GRPC_CALL_TIMEOUT_MS=3000

# ---------- Hello Service ----------
HELLO_APP_NAME=HELLO-SERVICE
HELLO_GRPC_PORT=50051

# ---------- Auth Service ----------
AUTH_APP_NAME=AUTH-SERVICE
AUTH_SERVICE_REGISTER_HOST=localhost
AUTH_GRPC_PORT=50052

# ---------- Auth database ----------
DB_HOST=localhost # Cambiar a la ip del contenedor al dockerizar
DB_PORT=5433 # Cambiar al puerto en donde se exponga la bd en el contenedor
DB_USER=postgres
DB_PASS=root
DB_NAME=auth-db-gasoline

# ---------- Email Service ----------
EMAIL_APP_NAME=EMAIL-SERVICE
EMAIL_SERVICE_REGISTER_HOST=127.0.0.1
EMAIL_GRPC_PORT=50053

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=josuegarcab2@gmail.com
SMTP_PASS=
FRONTEND_URL=http://localhost:5174

# ---------- Vehicles Service ----------
VEHICLES_APP_NAME=VEHICLES-SERVICE
VEHICLES_GRPC_PORT=50055

# ---------- Users Service ----------
USERS_APP_NAME=USERS-SERVICE
USERS_GRPC_PORT=50057

# ---------- Driver Service ----------
DRIVER_APP_NAME=DRIVER-SERVICE
DRIVER_HTTP_PORT=3100
DRIVER_GRPC_PORT=50062
# development or production
DRIVER_NODE_ENV=development

# ---------- Database ----------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_BASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}

# Databases by service

# users
USERS_DB=users
USERS_DATABASE_URL=${DATABASE_BASE_URL}/${USERS_DB}

# auth
AUTH_DB=auth
AUTH_DATABASE_URL=${DATABASE_BASE_URL}/${AUTH_DB}

# driver
DRIVER_DB=driver
DRIVER_DATABASE_URL=${DATABASE_BASE_URL}/${DRIVER_DB}
# for migrations and others, set up as false in production
DRIVER_DB_SYNCHRONIZE=false
DRIVER_DB_LOGGING=true